body {
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("assets/bg.jpg");
    background-color: #191919;
    background-position: top, center;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-attachment: fixed;

    text-align: center;
    font-family: 'Special Elite', monospace;
    color: white;

    word-wrap: break-word;
  }

#logo {
    margin-top: 3vh;
    max-width: 80vw;
    max-height: 55vh;
}


h1 {
    font-weight: 100;
    font-size: 3em;
}


p {
    font-size: 1.7em;
}


a {
    color: white;
    text-decoration-thickness: 0.075em;
}


a:hover {
    color: rgb(108, 108, 108);
}


hr {
    width: 70vw;
    max-width: 700px;
    background-color: white;
    margin-bottom: 5vh;
    margin-top: 5vh;
}